.modal{

    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal iframe{

    position:relative;
    top: 25px;
    width: 90%;
    height: 70%;
    border: none;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 73%) 0px 26px 30px -10px,
    rgb(0 0 0 / 69%) 0px 10px 16px -10px;
}
.containerVideo{
    width:100vw;
    background: url('/public/assets/backgroundDownJugger.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.content{
     position:relative;
    top:50px;
    left:0px;
    right:0px;
    
    width:97%;
    height: calc(100% - 130px);
    display:flex;    
    justify-content: center;
    align-items: center;
    border-top:solid rgb(255,255,255,0.2) 1px ;
    box-shadow: 0px 10px 10px 2px rgb(0,0,0,0.5);
    overflow: hidden;
    
    
    
    backdrop-filter: blur(2px);
    margin-bottom: 15px;
    border-radius: 12px;
}




.content .textBox{
    
     width: 50%;
    height: 100%;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}


.content .textBox h2{
    padding: 0px 20px;
    font-size: 32px;
    margin: 0;
    position: relative;
    top: 25px;
    color:#fff;
}
.content .textBox p{
    margin: 0;
    position: relative;
    top: 35px;
    
    max-width: 80%;
    font-size: 16px;
    padding: 20px;
    
    max-height: 100%;
    
    color:#fff;
    z-index: 1;
    

    
}





@media (max-width: 676px){

    .content .textBox p{
    margin: 0;
    
    max-width: 80%;
    font-size: 0.8em;
    padding: 20px;
    transform: translateY(-45px);
    
    height: 380px;
    overflow: scroll;
    }
    .content .textBox h2{
        font-size: 30px;
        color:#fff;
    }
    .content .fido{
    transform: scale(0.2);
    position:fixed;
    top: -210px;
    z-index: 1;
    right: -250px;
    display:none;
    
}
    
    
        

    ::-webkit-scrollbar {
        display: none;
    }

  
    .content .card .card_item:hover p{
    
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    padding: 0px 15px;
    width: 50%;
    transform: translate(-80px,-20px);
    
    
    font-size: 0.7em;
  
}
            
    


}
