@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    overflow: hidden;
}


.nav{
    height: 60px;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 20px;
    z-index:99999;  
    overflow: hidden;

    position:fixed;

}

 .nav a img{
    height: 60px;
    margin: 0;    
}

 .nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    list-style: none;
  

}
 .nav ul .navlink {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    letter-spacing: 1.2px;
    text-decoration: none;
    overflow: hidden;
    object-fit: cover;
    position:relative;
   
    
    padding: 2px 26px;
}
 .nav ul .navlink span{
    position: absolute;
    display: block;
    

}

 .nav ul .navlink:hover{
     text-shadow: 0 0 5px red, 0 0 20px red, 0 0 80px red;
     
 }
/* 
 .nav ul .navlink span:nth-child(1){

top:0px;
left:-100%;
width:100%;
height: 2px;
background: linear-gradient(90deg, transparent, red);}
.nav ul .navlink:hover span:nth-child(1){
    left: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
    
    
}
.nav ul .navlink span:nth-child(2){

right:0px;
top:-100%;
width:2px;
height: 100%;
background: linear-gradient(180deg, transparent, red);}
.nav ul .navlink:hover  span:nth-child(2){
    top:100%;
    transition:0.5s;
    
    transition-delay: 0.25s;
}
.nav ul .navlink span:nth-child(3){

bottom:0px;
right:-100%;
width:100%;
height: 2px;
background: linear-gradient(270deg, transparent, red);}
.nav ul .navlink:hover  span:nth-child(3){
    right: 100%;
    transition:0.5s;
    transition-delay: 0.50s;
}
.nav ul .navlink span:nth-child(4){

left:0px;
bottom:-100%;
width:2px;
height: 100%;
background: linear-gradient(360deg, transparent, red);}
.nav ul .navlink:hover  span:nth-child(4){
    bottom:100%;
    transition: 0.5s;
    
    transition-delay: 0.50s;
} */

